
.announcement   {
    width: 400px;
    background-color: yellow;
    border-radius : 0px 0px 15px 15px;
    margin-left:auto;
    margin-right:auto;
}

.announcement p {
    margin : 0px;
    padding: 5%;
}

.navigation {
    padding: 5% 5% 30% 5%;
    text-align: center;
}

.nav_buttons {
    width : 180px;
    height: 180px;
    padding : 1%;
    display : inline-block;
}

.nav_buttons img    {
    width: 100%;
    background-color: rgb(0, 68, 255);
    border-radius : 15px;
}
