* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float : left;
    padding : 15px;
}

[class*="col-" ] {
    width : 100%;
}

html    {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body    {
    background-color: rgb(196, 196, 224);
    margin : 0px;
    height: 300px;
    width: 100%;
}

.headerlogo {
    width : 10%;
    height : auto;
}

.header_panel h1  {
    padding : 0px;
    font-size : 18px;
    color: white;
    margin : 0px;
}

.structure  {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.header_panel   {
    width: 100%;
    height: 30%;
    background-color:   rgb(37, 37, 117);
}

.LogOut {
    float : right;
    position : absolute;
    padding : 10px;
    height : 10%;
}

.LogOutIcon {
    height : 100%;
    width : auto;
}

.main_panel {
    background-color: rgb(196, 196, 224);
    width : 100%;
    height : auto;
}

.footer_panel   {
    background-color:rgb(0, 0, 177);
    padding : 20px 10px;
}

.footer_panel p {
    margin : 0px;
    font-size: 10pt;
    color:rgb(255, 255, 255);
}

.FooterCopyright {
    padding-top :5%;
    font-size: 10pt;
    color : white;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    body {
        display : none;
    }
}

/*Supervisor*/
.header_panel_supervisor   {
    width: 100%;
    height: auto;
    background-color:   rgb(255, 213, 74);
}

.header_panel_supervisor h1  {
    padding : 0px;
    font-size : 18px;
    color: rgb(20, 20, 20);
    margin : 0px;
}

/*Group Manager*/
.header_panel_GroupManager   {
    width: 100%;
    height: auto;
    background-color:   rgb(94, 204, 100);
}

.header_panel_GroupManager h1  {
    padding : 0px;
    font-size : 18px;
    color: rgb(20, 20, 20);
    margin : 0px;
}

/*For Trainee DTR*/
.TraineeName { 
    width : 100%;
    text-align: center;
}
.TraineeName span {
    font-weight: bold;
    padding : 5%;
}

.divTable{
	display: table;
	width: 100%;
    border: 1px solid #000;
    text-align: center;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

/*WIP HandBook*/
.PageSize   {
    width : 2480px;
    height  :   3508px;
    background-color    :   blue;
    margin  : 177px;
}

.Rep_PH {
    font-family :   'Old English Text MT';
    font-size   :   11pt;
}

.DepEd {
    font-family :   'Old English Text MT';
    font-size   :   18pt;
}

.Trajan    {
    font-family :   'Trajan Pro';
    font-size   :   11pt;
}

.WIP_Handbook   {
    height  :   561px;
    width  :   2130px;
    font-size   : 48pt;
    font-family : 'Cambria';
}