.StudentProfile {
    background-color : white;
    padding : 5%;
    width : 100%;
}

.NameID {
    text-align : center;
    width : 100%;
}

.NameID div img {
    width : 45%;
    border-radius : 100%;
    background-color: blue;
}

#StudentName h1 {
    margin : 0px;
}

.BasicInformation {
    padding : 5% 0% 5% 0%;
}

.WorkImmersionRating {
    padding : 5%;
    text-align: center;
}

.WorkImmersionRating div {
    background-color : rgb(147, 218, 151);
    border-radius: 15px;
    padding: 5%;
    font-size: larger;
}