.StudentProfile {
    background-color : white;
    padding : 5%;
    width : 100%;
}

.NameID {
    text-align : center;
    width : 100%;
}

.NameID div img {
    width : 45%;
    border-radius : 100%;
    background-color: blue;
}

#StudentName h1 {
    margin : 0px;
}

.BasicInformation {
    width : 100%;
    padding : 5% 0% 5% 0%;
}

.WorkImmersionRating {
    padding : 5%;
    text-align: center;
}

.WorkImmersionRating div {
    background-color : rgb(147, 218, 151);
    border-radius: 15px;
    padding: 5%;
    font-size: larger;
}

.ProfileButtons {
    padding : 5%;
    text-align: right;
}

.ProfileButtons button {
    background-color : rgb(204, 204, 204);
    border-radius: 15px;
    padding: 2%;
    font-size: 12pt;
}

/*Basic Information*/
.BasicInformation div {
    font-size: 12pt;
    padding-bottom: 2%;
}

.BasicInformation div label {
    display: block;
}

.InfoBox {
    background-color : rgb(255, 255, 255);
    border : 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 2%;
}

#LRN {
    width : 100%;
}

.Learner_Sex {
    width : 30%;
    display: inline-block;
}

#SEX {
    padding : 7%;
}

.Learner_BD {
    width : 68%;
    display: inline-block;
}

#BIRTH_DATE {
    padding : 3.5%;
}

input, select {
    width : 100%;
    padding : 2%;
    border-radius: 5px;
    border : 1px solid rgb(204, 204, 204);
    font-size: 12pt;
}

.Radio {
    width : auto;
}

/*Pop Up*/
#PopUp {
    display: none;
    padding : 5%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.PopUpContainer {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 15px;
}

.PopUpHeader {
    width : 100%;
    text-align: right;
    padding-bottom : 2%;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}