
.announcement   {
    max-width: 70%;
    background-color: yellow;
    border-radius : 0px 0px 15px 15px;
    margin-left:auto;
    margin-right:auto;
}

.announcement p {
    margin : 0px;
    padding: 5%;
}

.navigation {
    padding: 5% 5% 30% 5%;
    text-align: center;
}

.nav_buttons {
    max-width : 45%;
    height: auto;
    padding : 1%;
    display : inline-block;
}

.nav_buttons img    {
    width: 100%;
    background-color: rgb(119, 141, 200);
    border-radius : 15px;
}
